* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Trebuchet MS', Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;    
  line-height: 1.3;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  text-align: center;
  background-color: #13293d;
  color: #fff;  
}

h1 {
  font-size: 300%;
  color: #13293d;
  background-color: #bbcfe1;
  font-weight: 900;
  padding-left: 40px;

  overflow: hidden;
  text-overflow: ellipsis;
}

h2 {    
  font-size: 200%;
  color: #13293d;
  background-color: #bbcfe1;
  font-weight: bold;  
  text-align: right;

  text-overflow: clip;
  overflow: hidden;
}

.background_img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 130px;
  width: 100%;
  margin-bottom: 25px;

  background-image: url("../images/bg_light.jpg");
  background-size: cover;
  background-position: center;  
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
}

nav a {
  color: #bbcfe1;
  text-decoration: underline;
  font-weight: bold;
  font-size: 130%;
}


nav_text_flex_box {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;

  font-size: 150%;
  color: #bbcfe1;
  font-family:'Times New Roman', Times, serif;
  font-style:oblique;
  font-weight: bold;

  padding: 0px;
  height: 50px;
  width: 30%;
  text-align: right;
  border-style: none;
}

.profile_img
{
  display: flex;
  flex-shrink: 1;
  display: inline-block;
  max-height: 100px;
  margin-left: 20px;
  margin-right: 50px;  
  overflow:auto;
}


main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}


.box_left {
  flex: 1 1 20%;
  flex-wrap: nowrap;
  flex-direction: column;

  padding: 10px;
  text-align: right;
  border-style: none;
  border-width: 1px;

  border-right-color: #13293d;
  border-right-width: 5px;
  border-right-style:ridge;

  margin-bottom: 30px;

  min-width: auto;
}

left_box_text {
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 300%;
  color: #13293d;
  background-color: #fff;
  font-weight: bold;

  padding-right: 10px;;
}


.box_right {
  flex: 1 1 80%;
  flex-wrap: nowrap;
/*  width:80%;*/
  flex-direction: column;  
 
  padding: 10px;
  padding-left: 20px;
  text-align: left;
  border-style: none;
  border-width: 1px;

  min-width: auto;

  text-overflow: clip;
  overflow: hidden;
}

/*
.float-left {
  float: left;
  margin-right: 25px;
}
*/

.app_large_img
{
  flex-shrink: 1;
  display: inline-block;
  justify-content: center;
  align-items: center;

  width: 70vw;
  
  margin-left: 20px;
  /*margin-right: 50px;  */
  overflow:auto;

  border: 10px solid #bbcfe1;

/*  margin-bottom: 25px;  */
}

.app_small_img_frame
{
  display: flex;
  flex-shrink: 1;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  width: 70vw;
  
/*  height: 100vh;*/
  margin: 0 auto;

  margin-left: 20px;
  overflow:auto;

/*  border: 10px solid #bbcfe1;*/
  margin-bottom: 25px;    
}

.app_img_second_wrapper
{
  position: relative;
  z-index: 1;  
}

.app_each_small_img
{
  width: 90%;
  flex-wrap: nowrap;
  text-align: left;
  border: 10px solid #bbcfe1;  
}

contact_frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  text-align: left;

  color: #fff;  
  margin-left: 20px;  
}

contact_frame ul {
  display: flex;
  justify-content: space-between;
}

contact_frame a {
  color:   #13293d;;
  text-decoration: underline;
  justify-content: space-between;  
  font-size: 120%;
  margin-right: 50px;  
  font-weight: bold;  
}


footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
  margin-top: auto;
}


.margin_20px
{
  margin-left: 20px;
}


.row_title {
  position: absolute;
  z-index: 2;
  top: 60%;

  color: #bbcfe1;
  flex-wrap: nowrap;
  text-align: center;
  border: 10px solid #bbcfe1;    

  color: #13293d;
  background-color: #bbcfe1;
  text-align: left;

  text-overflow: clip;
  overflow: hidden;

}



p1 {
/*  text-align: left;*/
  font-size: 120%;
  color: #13293d;
  text-align: initial;
/*  margin-left: 20px;  */
  padding-left: 20px;
  text-indent: -20px;

  overflow: hidden;
  text-overflow: ellipsis;

/*  text-indent: 40px hanging;*/
}

p2 {
  text-align: center;
  font-size: 120%;
  color: #bbcfe1;
  font-family: serif;
  font-style: italic;
}

p3 {
  text-align: center;
  font-size: 120%;
  color: #13293d;
  background-color: #bbcfe1;  
}

dd
{
  font-size: 120%;
  color: #13293d;
  padding-left: 20px;  

  overflow: hidden;
  text-overflow: ellipsis;
}